<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishTrimmed>false</PublishTrimmed>
    <PublishReadyToRun>false</PublishReadyToRun>
    <DeleteExistingFiles>true</DeleteExistingFiles>
  </PropertyGroup>

  <Target Name="WritePortableMarker" AfterTargets="Publish">
    <WriteLinesToFile
      File="$(PublishDir)KeepMeAlive.portable"
      Lines="portable"
      Overwrite="true" />
  </Target>
</Project>
